<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Carousel</title>
</head>
<body>
  <section class="carousel">
    <div class="carousel__container">
  
      <div class="carousel-item">
        <img class="carousel-item__img" src="./assets/img/pexels-anthony-shkraba-5244030.jpg" alt=""  />
        <div class="carousel-item__details">
          <div>
            <img class="carousel-item__details--img" src="./assets/icons/icons8-play-64.png" alt="Play Icon"> 
            <img class="carousel-item__details--img" src="./assets/icons/icons8-más-48.png" alt="Plus Icon"> 
          </div>
          <p class="carousel-item__details--title">Título descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="./assets/img/pexels-anthony-shkraba-5292193.jpg" alt=""  />
        <div class="carousel-item__details">
          <div>             
            <img class="carousel-item__details--img" src="./assets/icons/icons8-play-64.png" alt="Play Icon">
            <img class="carousel-item__details--img" src="./assets/icons/icons8-más-48.png" alt="Plus Icon">
          </div>
          <p class="carousel-item__details--title">Título descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="./assets/img/pexels-anthony-shkraba-5292194.jpg" alt=""  />
        <div class="carousel-item__details">
          <div>             
            <img class="carousel-item__details--img" src="./assets/icons/icons8-play-64.png" alt="Play Icon">
            <img class="carousel-item__details--img" src="./assets/icons/icons8-más-48.png" alt="Plus Icon">
          </div>
          <p class="carousel-item__details--title">Título descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="./assets/img/pexels-polina-zimmerman-3747408.jpg" alt=""  />
        <div class="carousel-item__details">
          <div>             
            <img class="carousel-item__details--img" src="./assets/icons/icons8-play-64.png" alt="Play Icon">
            <img class="carousel-item__details--img" src="./assets/icons/icons8-más-48.png" alt="Plus Icon">
          </div>
          <p class="carousel-item__details--title">Título descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="./assets/img/pexels-christina-morillo-1181326.jpg" alt=""  />
        <div class="carousel-item__details">
          <div>             
            <img class="carousel-item__details--img" src="./assets/icons/icons8-play-64.png" alt="Play Icon">
            <img class="carousel-item__details--img" src="./assets/icons/icons8-más-48.png" alt="Plus Icon">
          </div>
          <p class="carousel-item__details--title">Título descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="./assets/img/pexels-christina-morillo-1181672.jpg" alt=""  />
        <div class="carousel-item__details">
          <div>             
            <img class="carousel-item__details--img" src="./assets/icons/icons8-play-64.png" alt="Play Icon">
            <img class="carousel-item__details--img" src="./assets/icons/icons8-más-48.png" alt="Plus Icon">
          </div>
          <p class="carousel-item__details--title">Título descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="./assets/img/pexels-christina-morillo-1181703.jpg" alt=""  />
        <div class="carousel-item__details">
          <div>             
            <img class="carousel-item__details--img" src="./assets/icons/icons8-play-64.png" alt="Play Icon">
            <img class="carousel-item__details--img" src="./assets/icons/icons8-más-48.png" alt="Plus Icon">
          </div>
          <p class="carousel-item__details--title">Título descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="./assets/img/pexels-cottonbro-3201583.jpg" alt=""  />
        <div class="carousel-item__details">
          <div>             
            <img class="carousel-item__details--img" src="./assets/icons/icons8-play-64.png" alt="Play Icon">
            <img class="carousel-item__details--img" src="./assets/icons/icons8-más-48.png" alt="Plus Icon">
          </div>
          <p class="carousel-item__details--title">Título descriptivo</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
        </div>
      </div>

    </div>
  </section>
</body>
</html>